body {
    background-color:lavenderblush;
}

.card {
    width: 18rem;
    margin: 2rem;
    border-radius: 5%;
    background-color: beige;
}

#cars-container{
    display: flex;
    justify-items: center;
}